@use "../utils" as u;
#header{
    display:block;
    background-color:u.$primarycolor;
    padding:1.5em;
    h1{
        font-family: 'Courier New', Courier, monospace;
        color:lightblue;
    }
    p{
        color:white;
        
    }
}