@use "../utils" as u;

html {
  box-sizing: border-box;
  // font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}





.twocolgrid{
  &__main{
    background-color: u.$primarycolor;
    color:hsl(195, 53%, 79%);
    padding-left:2em;
  }
}